@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jersey+15&display=swap');
@import "tailwindcss";

@plugin "daisyui";

@tailwind utilities;

@theme {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-lavender: #E0DBFF;
    --color-yellow: #FFEA00;
    --color-cyan: #00F5FF;
    --color-midnight: #1A0B2E;

    --font-sans: "Inter", sans-serif;
    --font-jersey: "Jersey 15", cursive;
}

@utility font-sans {
    font-family: var(--font-sans), sans-serif;
}

@utility font-pixel {
    font-family: var(--font-jersey), cursive;
}

.p-minimal-size {
    min-width: 320px;
    min-height: 600px;
}

/* Hero */

.p-animation {
    min-width: 320px;
    min-height: 600px;
    display: block;
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.p-fluid-anim {
    transition: all 0.5s ease-in-out;
}

.pointer-events-none {
    pointer-events: none;
}

.pointer-events-auto {
    pointer-events: auto;
}

@media (min-width:1024px) {
    .pointer-events-none-large {
        pointer-events: none;
    }
}

.debug {
    outline: solid red 3px;
}