.timeline-middle svg {
    color: var(--color-cyan);
}

.timeline li hr {
    background-color: var(--color-lavender);
}

.timeline li .first-hr {
    background: linear-gradient(to right, transparent, var(--color-lavender));
}

.timeline li .last-hr {
    background: linear-gradient(to right, var(--color-lavender), transparent);
}

@media (min-width:1024px) {

    .timeline li .first-hr {
        background: linear-gradient(to bottom, transparent, var(--color-lavender));
    }

    .timeline li .last-hr {
        background: linear-gradient(to bottom, var(--color-lavender), transparent);
    }
}